[submodule ".vim/bundle/vim-airline-themes"]
	path = .vim/bundle/vim-airline-themes
	url = https://github.com/vim-airline/vim-airline-themes
[submodule ".vim/bundle/vim-airline"]
	path = .vim/bundle/vim-airline
	url = https://github.com/vim-airline/vim-airline
[submodule ".vim/bundle/vim-arduino"]
	path = .vim/bundle/vim-arduino
	url = https://github.com/stevearc/vim-arduino
[submodule ".vim/bundle/vim-latex"]
	path = .vim/bundle/vim-latex
	url = https://github.com/vim-latex/vim-latex
[submodule ".vim/bundle/vim-sensible"]
	path = .vim/bundle/vim-sensible
	url = https://github.com/tpope/vim-sensible
[submodule ".config/ranger/ranger_devicons"]
	path = .config/ranger/ranger_devicons
	url = https://github.com/alexanderjeurissen/ranger_devicons
[submodule "/home/synackd/.vim/bundle/ctrlp.vim"]
	path = /home/synackd/.vim/bundle/ctrlp.vim
	url = https://github.com/ctrlpvim/ctrlp.vim.git
[submodule "/home/synackd/.vim/bundle/tagbar"]
	path = /home/synackd/.vim/bundle/tagbar
	url = https://github.com/majutsushi/tagbar
